@font-face {
    font-family: 'DePixelBreinFett';
    src: url('fonts/DePixelBreit.ttf') format('truetype');
}

body{
    font-family: 'DePixelBreinFett';
    background: url(imagenes/simon-lee-M-6QQXJ8AG4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 50px;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 35px;
}
.header_title{
    width: 90%;
    text-align: center;
    font-family: 'DePixelBreinFett';
    background-clip: text;
    font-weight: 800;
    -webkit-background-clip: text;
    color: white;
}

main{
    width: 100%;
    margin: 0;
    height: 600px;
    position: relative;
}
.main_boxes{
    display: flex
}

/*First side of the website*/
.first_side{
    width: 50%;
    height: 600px;
    text-align: center;
}
.input_text{
    margin: 20px 0 10px 0;
    padding: 10px;
    resize: none;
    outline: none;
    max-width: 447px;
    max-height: 450px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border: none;
    background: rgba(226, 216, 226, 0.897);
    font-family: 'DePixelBreinFett';
}
::placeholder{
    color:black;
    text-align: center;
}
h2{
    font-weight: 700;
    font-family: 'DePixelBreinFett';
    color: white;
}
.button{
    margin: 10px;
    width: 150px;
    height: 45px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: white;
    transform: scale(1);
    transition: transform .2s;
    font-family: 'DePixelBreinFett';
}
.button:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
#encrypt_button{
    background: #2d68fcd0;
}

/*Second side of the website*/
.second_side{
    width: 50%;
    height: 600px;
    text-align: center;
}
.box{ /*Se colocó de esta manera para colocar el corazón en el centro*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.output_text{
    margin: 20px 0 18px 0;
    padding: 10px;
    resize: none;
    outline: none;
    max-width: 447px;
    max-height: 450px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border: none;
    background: rgba(226, 216, 226, 0.897);
    pointer-events: none;
    font-family: 'DePixelBreinFett';
}
.hearth{
    width: 200px;
    height: 250px;  
}
.displays{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.waiting_text{
    color: black;
}
.button_copy{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.copy_button{
    margin: 10px;
    width: 200px;
    height: 45px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background: #2d68fcd0;
    transform: scale(1);
    transition: transform .2s;
    font-family: 'DePixelBreinFett';
    display: none;
}
.copy_button:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

footer{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;     
}
.bg_copyright{
    color: white;
}


/*Media query*/

@media screen and (max-width:948px){

.input_text{
    width: 350px;
    height: 450px;
    }
.output_text{
        width: 350px;
        height: 450px;
        }
}
footer{
    height: 117px;
}

@media screen and (max-width:745px){

.logo{
    width: 30px;
    height: 40px;
}
.header_title{
    font-size: 30px;
}
.input_text{
    width: 250px;
    font-size: 15px;
}
h2{
    font-size: 12px;
}
.button{
    width: 100px;
    font-size: 15px;
}
.output_text{
    width: 250px;
    font-size: 15px;
}
.copy_button{
    width: 120px;
    font-size: 15px;
}
}

@media screen and (max-width:549px){
.main_boxes{
        display: block;
}
.first_side{
    width: 100%;
    height: 50%;
}
.input_text{
    width: 100%;
    height: 200px;
}
.second_side{
    width: 100%;
    height: 50%;
}
.output_text{
    width: 100%;
    height: 200px;
}
.copy_button{
    margin: 0px;
}
h3{
    font-size: 12px;
}
footer{
    height: 120px;
}
}

@media screen and (max-width:480px){
.first_side{
    width: 100%;
    text-align: center;
}
.input_text{
    width: 350px;
}
.second_side{
    width: 100%
}
.output_text{
    width: 350px;
}
.hearth{
    width: 50px;
    height: 100px;
}
footer{
    height: 200px;
}
}